<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DataBase"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Nikol\OneDrive\Рабочий стол\Практика\День22\Day22\DBProject\bin\Debug\net8.0-windows\Hotel.mdf;Integrated Security=True;Connect Timeout=30"/>
	</connectionStrings>
</configuration>